<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous">
		<title>Initrack</title>
	</head>
	<!--<body onload="update_inits(); setInterval(update_inits, 500);">-->
	<body>
		<div class="container mt-2">
			<h1 align="center">Initrack</h1>
			<!--<h3 align="center" class="pb-2">Dungeon-Master: {{game_master}}</h2>-->
			<button class="btn btn-primary btn-block" onclick="update_inits();"> Reload Tracker </button>
			<a class="btn btn-primary btn-block" href="/add"> Roll for Initiative! </a>
			<div class="my-3">
				<ul id="ini-list" class="list-group mt-3"></ul>
			</div>
			<!--{{#if is_master}}
			<div class="btn-group" role="group" style="width:100%" aria-label="Basic example">
				<button class="btn btn-danger" onclick="remove_all();"> Remove all entries </button>
				<button class="btn btn-success" onclick="next();"> Next </button>
			</div>
			{{/if}}-->
		</div>
		
		<script>
			function update_inits() {
				// TODO we could move this to the backend, having the API return html, such that we just do
				// TODO $("#ini-list").html(result)
				// TODO however, this might not be what we want to do
				$.ajax({
					url: "/tracker",
					dataType: "json",
					success: function(result) {
						var list = $("#ini-list").empty();
						var ini_list = result["initiatives"];
						ini_list = ini_list.splice(result["offset"]).concat(ini_list);
						ini_list.forEach(ini_entry => list.append(make_entry(ini_entry)));
						list.children().first().addClass("border border-primary");
					}
				})
			}
			function make_entry(ini) {
				//var button_str = `<button class="btn btn-danger" id=ini-${ini["id"]} onclick='remove_entry(${ini["id"]});'>x</button>`
				//button_str =  (ini["owner_id"] == {{ user_id }} || {{is_master}} ? button_str : '');
				var button_str = "";
				return `<li class="list-group-item d-flex justify-content-between align-items-center mt-1">`
				     + `<div><b>${ini["entry_name"]}</b><br/><font color="#c0c0c0">${ini["player_id"]}</font></div>`
				     + `<div><span class="sr-only">Initiative of </span>${button_str} ${ini["initiative"]}</div></li>`
			}
			function remove_entry(id) {
				$.ajax({
					type: "POST",
					url: "/remove/" + id,
					success: function(result) {
						$("#ini-" + id).remove();
					}
				})
			}
			/*{{#if is_master}}
			function remove_all() {
				$.ajax({
					type: "POST",
					url: "/remove/all",
					success: function(result) {
						$("#ini-list").empty();
					}
				})
			}
			function next() {
				$.ajax({
					type: "POST",
					url: "/next",
					success: function(result) {
						update_inits();
					}
				})
			}
			{{/if}}*/
		</script>
		
		{{state_str}}
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	</body>
</html>